﻿<!--Header-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Ana Sayfa</a></li>                
                <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>